.reservation {
    width: 100%;
    font-size: 1.2em;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
}

.reservation li {
    margin-bottom: 0.5em;
}

.reservation li:last-of-type {
    margin-bottom: 0;
}

.reservation input, select {
    width: 100%;
    font-family: inherit;
    font-size: 100%;
}

@media (min-width: 350px) {
    
    .reservation {
        font-size: 1.5em;
    }
}

@media (min-width: 2000px) {

    .reservation {
        font-size: 2.5em;
    }
}